[Unit]
Description=ugeek smart ups v3
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/sudo /usr/bin/python3 /usr/local/bin/smartups.py
WorkingDirectory=/usr/local/bin/
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=IMS
User=pi
Group=pi

[Install]
WantedBy=sysinit.target
